page-home {
  .home_container {
    background: url('../../assets/images/app.jpg') no-repeat;
    background-size: 100% 100%;
  }

  .home_button {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    position: relative;
    top: 200px;
    margin: auto;
  }
}
