page-home {
  .home_container {
    background: url('../../assets/images/app.jpg') no-repeat;
  }

  .home_button {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    margin: 500px auto 0;
  }
}
