page-photolist {
  .add_button {
      margin-right: 15px;
  }

  .button-ios {
    background-color:#ffffff;
  }

  .photo_button {
    color: color($colors, danger);
  }

  .des_button {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 5px auto;
  }

  .photo_card {
    position: relative;
    .delete_button {
      color: #ffffff;
      position: absolute;
      text-align: center;
      width: 16px;
      height: 16px;
      top: 5px;
      right: 5px;
      &:active {
        top: 7px;
        right: 6px;
      }
    }
  }

  video,canvas {
    border: 1px solid black;
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 10px auto 0;
    display: block;
  }
}
